<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997103067948-bci5ktscbfhoodussc6qso1kupk307dr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997103067948-bci5ktscbfhoodussc6qso1kupk307dr</string>
	<key>API_KEY</key>
	<string>AIzaSyB2uPwxdNcaqIEGB9QMidadTnau43rTnlg</string>
	<key>GCM_SENDER_ID</key>
	<string>997103067948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasuyama.ApexFriendApp</string>
	<key>PROJECT_ID</key>
	<string>apexfriendapp</string>
	<key>STORAGE_BUCKET</key>
	<string>apexfriendapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997103067948:ios:e3be468ed1cdbca4f28289</string>
</dict>
</plist>